/* Header.css */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  color: var(--text-color);
}

header h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
