.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--primary);
  color: var(--text);
}

.logo {
  margin-bottom: 1rem;
}

.navWrapper {
  display: flex;
  align-items: center;
  gap: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}
