.nav-list {
  list-style: none;
  display: flex;
  gap: 0.75rem;
  padding: 0;
  margin: 0;
}
.nav-item {
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
}
.nav-item a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: black;
}
.nav-item a:hover {
  background-color: #f0f0f0;
}