.nav-list {
  list-style: none;
  display: flex;
  gap: 0.75rem;
  padding: 0;
  margin: 0;
  background-color: lightgray;
}

.nav-item a {
  padding: 1rem;
  text-decoration: none;
  color: black;
}
