.nav {
  width: 100%;
}

.navList {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
  padding: 0;
}

.navLink {
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--secondary);
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}
